.home-container {
  text-align: center;
  padding: 2rem;
  background-image: url('../assets/NN\ Home\ Background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.home-title {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-msg {
  color: #666;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.home-search-btn {
  padding: 10px 20px;
  font-size: 1.25rem;
  color: #ffffff;
  background-color: #114d2a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-search-btn:hover {
  background-color: #45a049;
}


