.load-more-btn {
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 20px;
}

.load-more-btn:hover {
  background-color: #45a049;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


